127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['tag_Type_ml_demo'] %}
{% if 'fqdn' in hostvars[host]['ansible_facts'] or 'hostname' in hostvars[host]['ansible_facts'] %}
{{ hostvars[host]['ansible_host'] }} {{ hostvars[host]['public_dns_name'] | default('') }} {{ hostvars[host]['ansible_facts']['hostname'] | default('') }}
{% endif %}
{% endfor %}